/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/public/pg

/database/contractors.json
/database/contractors2.json
/database/imis.json
/database/schemes.json
/database/scheme_villages.json
/database/scheme_panchayat.json
/database/scheme_habitation.json
/database/workorders.json
/database/dpmu_users.json
/database/so_users.json
/database/so_scheme.json
/database/1.json
/database/2.json
/database/3.json
/database/4.json
/database/5.json
/database/6.json
/database/7.json
/database/8.json
/database/9.json
/database/10.json

oldsvg.svg

.codegpt