<div class="mceTmpl">
	<p>
		<div class="md:grid md:grid-cols-2 gap-10 space-y-6 md:space-y-0">
			<div class="col-span-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate autem repellat id, quasi placeat modi distinctio nulla fugit cupiditate, nam tempore asperiores amet pariatur laudantium, obcaecati iure fuga voluptatem sunt?</div>
			<div class="col-span-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit quam aperiam. Veniam odio repellendus inventore possimus excepturi nisi id quas cum, quidem vitae magni enim ab velit rerum? Nesciunt.</div>
		</div>
	</p>
</div>